* {
  margin: 0;
  font-family: Roboto;
}

.childerns {
  display: flex;
}
.ListIteams {
  margin-bottom: 20rem;
}
.Box {
  display: flex;
}
.Child {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(240, 238, 238);
}
.CardBox {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.studentCards:hover {
  box-shadow: 10px 10px 20px rgb(182, 180, 180),
    10px 10px 20px rgb(176, 175, 175);
}
.studentCards {
  margin: 5px;
  width: 14rem;
  height: fit-content;
}
.HomeBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.studenttitle {
  width: 100%;
  margin: 1rem;
}
.textfield {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  max-width: auto;
}
.InputText:hover {
  color: black;
}
.titleheader {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: flex-start;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
}
.StudentHomePortal {
  border: 1px solid black;
  color: white;
  text-align: center;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  background-image: url("./Component/img/pexels-pixabay-267885.jpg");
  background-size: 100% 100%;
}
.profileButton {
  margin: auto;
}
.Createstudentfield {
  margin: auto;
}

.head12 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.btnhome {
  width: fit-content;
  margin: auto;
}
.errorText {
  margin-top: 10px;
  margin-bottom: 1rem;
  color: red;
}
